:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#grid {
    display: grid;
    grid-gap: 0em;
    border: 1px solid black;
    max-height: 842px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    padding: 1em;
    text-align: center;
}

#col1{
    border: 1px solid gray;
    padding: 0;
    max-height: 1000px;
}


#button1{
    width: 100%;
}

#input1{
    width: 100%;
}

#sidebutton{
    width: 100%;
}

.container p{
    padding-left: 10px;
}

.container h3{
    padding-left: 10px;
}

.titleHead{
    padding-left: 25px;
}

#Header{
    text-align: center;
}

