:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#grid {
    display: grid;
    grid-gap: 0em;
    max-height: 842px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    padding: 1em;
    text-align: center;
}

#col1{
    border: 1px solid gray;
    padding: 0;
    max-height: 1000px;
}

#StartForm{
    text-align: left;
}

#button1{
    width: 100%;
}

#input1{
    width: 100%;
}

#sidebutton{
    width: 100%;
}

.container p{
    padding-left: 10px;
}

.container h3{
    padding-left: 10px;
}

.titleHead{
    padding-left: 25px;
}

#Header{
    text-align: center;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 59%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #0c5460;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    height: 30px;
    background-color: #0c5460;
    color: white;
}

